<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>SBI Life</title>
      <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
      <link rel="stylesheet" href="./assets/css/normalize.css" type="text/css" />
      <link rel="stylesheet" href="./assets/css/glyphicon.css" type="text/css" />
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="./assets/css/app.css" type="text/css" />
      <link rel="stylesheet" href="./assets/css/styles.css" type="text/css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body id="app-layout" class="  ">
      <div  class="app-header  ng-scope" style="">
         <header class="hide-print  ng-scope">
            <div class=" clearfix margtop">
               <h1 id="logo" class=" h1hei">
                  <img src="assets/images/sbi-logo.png">
               </h1>
               <div class="head-right clearfix navbar-header">
                  <div class="col-sm-12">
                     <div class="row">
                        <a href="javascript:void(0)" class="btn menu-toggle no-shadow navbar-btn toppaddingsm " ng-click="expandHandler()">
                        <img class="icon icons8-Outdent out ng-hide" ng-show="!appConfig.navMenuExpand" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAApElEQVQ4T62T3Q2DMBCD7Q06Ahu0I7BJGaGdpB2BUcImdBIjo1C1EhEH5F7ykPMX30+ICkFJNwCvE6wnT4i/0joQSRcA14CjD8lRUuPzN989aQB0AUgimSQlAD3JftHsLidD7MTQGXQIQrKVZMAMOlSOIXYgyY7aOk4CDf1LWe1Jns49ABuK08l74tXfirG4J1vKyP3uxq5Bl1/8jrxYyHlUcTIBYixZiY5vdLgAAAAASUVORK5CYII=" width="17" height="17" style="">
                        <img class="icon icons8-Indent in" ng-show="appConfig.navMenuExpand" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAArElEQVQ4T62T0Q3CMAxEnzdgBDaAEdgERiiTwAgdgQ1aNmCEMskhoxQVkaoOjaV85fxinx2jQpikPXBZwTrbiuRPah2IpA2wC1T0NLNhqku5uCdb4BSA9GbWj7oE6ID/PEmAG+DnUezJBNAAbkV5O5JawFtrJR3ekIAXX5JsJaUQ1/94kqZzDMDumen4tBofsZvjq78Uw+yeLGVG7ouNzUHHX3yNvDijaapU8gIb3Esxmzn/SwAAAABJRU5ErkJggg==" width="17" height="17" style="">
                        </a>
                        <div class="displaynone">
                           <div class="col-sm-2 menuicon">
                              <button class="navbar-toggle f-left" data-target=".dash" data-toggle="collapse" type="button">
                              <i class="fa fa-bars"></i>
                              </button>
                           </div>
                        </div>
                        <div class="col-sm-10 f-right">
						   <div class="username f-right ">
                              <img class="icon icons8-User f-left " src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA70lEQVRIS+2T4REBMRCF36uAEuiADqgAFWiBCpwKaEEHpwI6oITTARWsWRMzJ5LbzNyEH+zfJO/bfftCZC5m1sePAESkB2ADYOAsPQNYkqwsi02LnPgJQNcTuwIYWpAUQAlgEul0T3LaNEUKQDvtREQqkv2cgAtJ3U+0UibIbpF2qKnxbbppqlovWWd3Sdp6MV1Y4vrWtMjKuXX+XYCI6OeaAxg5e56J0R+sezkC2JHUKAcrOoGIFABWlgXuvCC5Dt19A7iuD7WFJjIeE439aUKAptxbsJLkrH4pBBBLpfHnki+anwe06T5pyX+A78AdR5lMGQY/HL4AAAAASUVORK5CYII=" width="24" height="24">
                              <div class="user-info f-left dispnone">
                                 <p class="ng-binding">Hello kkraj@mail.me (Sales Admin)!</p>
                              </div>
							  <ul class="user-settings user-settings1">
									<li>
										<div class="col-sm-12 bottommargin toppadding">
											<div class="col-sm-12 user-profile">
											
												<a type="button" class="butn11 change topmarginsm" style="color:white" id="subbut" data-ui-sref="app.changepassword" href="#/changepassword">
													Logout
												</a>
												
											</div>
										</div>
									</li>
								</ul>
                           </div>
						   
							<a href="tpr-list.html" class="home-ico " >
								<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFLSURBVEhL5ZI/S0JRGIdvhRASGkhT1iYINrk0FVKji4uLS01BqyA4N4hrH8LFT9DS1gcIhwYXkYagKSSkCO7tOee+1wvXW3rsKEgPPJzb+++HkGOC67opz/MucUtKdiHgCPsEeLz3uCctO3Cwhu8qIIC/n/FY+meU2rwtzOqleWExwdKtvhoDvQ+8xo6UVK0m67NheB8fZPdXmJv8yrlDGDzFF9kzYmYIMxsM1fHLXzGH3Yacm4b+Dnb15B8gRHHD56ac9qGQp/GkpyzBvTvM6AA+TvBVetbgpvrPG+CBCslhQXrW4GaPp4S7+tcodMciKkROh0jPGkYhDI95rn6wibGY/pI33MZ2RBVwiLEsEpL2P0M4MuRZ8xAOjJYawvInXiw1JOCfh1B0pR9l0ZBHOR1C8ZxeNcYKJiK1KvNl3mS0Hki/KKdXgeN8A1GptutEEjDmAAAAAElFTkSuQmCC">
							</a>
						   
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
      </div>
      <div class="app main-container   ng-scope" id="app" ui-view="" style="">
         <div class="dashboard_details ng-scope">
            <aside id="aside" class="app-aside hidden-xs bg-dark">
               <ul class="nav">
                  <li data-ng-class="{ 'active': 'dashboard' == currentPage}" ui-scroll-to="app" data-ng-show="screenAccessDetail.dashboard.is_view == true" class="" style="">
                     <a data-ui-sref=" app.dashboard" class="auto" href="tpr-list.html">
                     <i class="margleftic glyphicon icon">
                     <img class="icon icons8-Dashboard" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAABqklEQVQoU6VTXXISYRDsHhIr5EWOsN4AT+BSxAdYqSw34AbGE2Q9gXgC8QRZiwAPhmI9gdxAjrC+BEvYr1PfJovgX5Xl9zg13T3dMx/xH48/Y68Wi8bxt+JcQkygISAnkW5Oah/6rVa+338AHs8+hnB2ReArqEziilQAMRTwGOb6vc7zrCLYgT2QsoWAt9u6JcdrN6AscywCUDlkfpKXomtVBCXYj3p0676AeG/CMorao4p9NlsEW+c+G/DKEU0C55u6PfUWSvBkMh8ISAiLo6i13Pc1nsyXIPJt3eKjdRFSHBJIvEAJvp7cpL5BQNrrnqW+VtpwfAPiyaZeC6qwrqc3IwiNF9GZtwGMp/MMQgZzWeXH1wg8E/Cp122HD31DCDmI0NcOlGusJZ1Oa1UpQ5aALqkIyzWuC0/wQ7n0TFxS1ne2beyv4yA4FU2I73x4O88PjCuBo163ffGnoxtP50MK8ebUmru0dwHJFgCGm7q93r+me3J3CeDilz1XSvcJ2wiEfIA0rOQQ+IAgUOYGv72wisCrPLp1saBYZINSTjD9fmrpX2/7Xz/YHXLr4hBbv6KaAAAAAElFTkSuQmCC" width="15" height="15">
                     </i>
                     <span class="dispnone">Dashboard</span>
                     </a>
                  </li>
                  <li data-ng-class="{ 'active': 'taskManagement' == currentPage}" ui-scroll-to="app" data-ng-show="screenAccessDetail.taskManagement.is_view == true" class="ng-hide">
                     <a data-ui-sref=" app.taskManagement" class="auto" href="#/taskManagementList">
                     <i class="glyphicon icon">
                     <img class="icon icons8-Dashboard" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAABqklEQVQoU6VTXXISYRDsHhIr5EWOsN4AT+BSxAdYqSw34AbGE2Q9gXgC8QRZiwAPhmI9gdxAjrC+BEvYr1PfJovgX5Xl9zg13T3dMx/xH48/Y68Wi8bxt+JcQkygISAnkW5Oah/6rVa+338AHs8+hnB2ReArqEziilQAMRTwGOb6vc7zrCLYgT2QsoWAt9u6JcdrN6AscywCUDlkfpKXomtVBCXYj3p0676AeG/CMorao4p9NlsEW+c+G/DKEU0C55u6PfUWSvBkMh8ISAiLo6i13Pc1nsyXIPJt3eKjdRFSHBJIvEAJvp7cpL5BQNrrnqW+VtpwfAPiyaZeC6qwrqc3IwiNF9GZtwGMp/MMQgZzWeXH1wg8E/Cp122HD31DCDmI0NcOlGusJZ1Oa1UpQ5aALqkIyzWuC0/wQ7n0TFxS1ne2beyv4yA4FU2I73x4O88PjCuBo163ffGnoxtP50MK8ebUmru0dwHJFgCGm7q93r+me3J3CeDilz1XSvcJ2wiEfIA0rOQQ+IAgUOYGv72wisCrPLp1saBYZINSTjD9fmrpX2/7Xz/YHXLr4hBbv6KaAAAAAElFTkSuQmCC" width="15" height="15">
                     </i>
                     <span>User Admin</span>
                     </a>
                  </li>
                  <li data-ng-class="{ 'active': 'customer' == currentPage}" ui-scroll-to="app" data-ng-show="screenAccessDetail.customer.is_view == true" class="" style="">
                     <a data-ui-sref=" app.customers" class="auto" href="mph-add.html">
                     <i class="margleftic glyphicon icon">
                     <img class="icon icons8-MySpace" width="15" height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAABfUlEQVQ4T51SMU7DQBCcuZDQ8oTwAvyE/ACLQI0LbFGmJK5cOZQukYOEqUmQnwAvILwAPwHKJOQWrZNDCUokYIuT7rQzOzN7xJY6CeOAlGMA9+N8UHajvk9hIJR3gtUoTxOFUY/TqN8TwKPwAGIzGHqjfJCdRnEikAkAf5wPAtcLK5PR7fXTEhzG5WiY+toMgffZsL3y5rqqJ4KeEqgC7T0LY08IX6cvwRdXHTEMVNLnrJXtNWcFiBeBHC6MJA3LZDHb75VF8t4N42zRsJmS12D/8qq9Z805rH1WOU6eSnfTLKVX+7RSuB7WwIXJCCRC6Xx7JyZqQd/n81bVbE6PAH48DFPNoC5qskZs5dj0/jhMC9egeQhQgaIBtSHsKKGSsA7J2icH3ra69Tc/SA4arWmm6f8ZrERO7b/Auh39C3R7W5fmftAuC0uwUe+b1Y36hRHcrfLcSPc7xF3gmnVVQuOPh2m93/XaOXmjKYqTbRZ+BVYLBN9+ThZBm5TXL/SB15Y+OEiDAAAAAElFTkSuQmCC">
                     </i>
                     <span class="dispnone">MPH</span>
                     </a>
                  </li>
                  
               </ul>
            </aside>
            <!-- uiView:  -->
            <div ui-view="" class="content-area hidemenu ng-scope" style="">
               <div class="app-content-body fade-in-up req-stock  ng-scope" data-ng-controller="salesorderListCtrl">
                  <!-- 
				  <div class="panel panel-default ">
                     <div class="panel-heading clearfix ">
                        <h2>TPR Add</h2>
                     </div>
                  </div> -->
                  <div class=" animated fadeInUp clearfix " style="margin-top: 0;">
                     <div class="wrapper-md ">
                        <div class="  clearfix add-form form-wrapper">
                           <form name="create_customer_form" angular-validator-submit="createcustomer()" class="form-horizontal clearfix  ng-pristine ng-valid-maxlength ng-invalid ng-invalid-required ng-valid-angular-validator" novalidate="" angular-validator="">
                              <div class="bg-white  ">
                                 <div class="row wrapper-md">
                                    <div class="col-sm-12 ">
                                       <div class="row ">
                                          <div class="col-sm-1 topmarginxs  ">
                                             <label>Product<em>*</em></label>
                                          </div>
                                          <div class="col-sm-3 bottommarginsm">
                                             <input type="text" class="form-control "
											 name="customerno" ng-model="customerAddModel.customerno"  
											 maxlength="20" value="Sampoorn Suraksha" readonly
											 validator="validationFactory.hasRequired(customerAddModel.customerno) == false ||validationFactory.isPositiveNumber(customerAddModel.customerno) === true" fname="create_customer_form">
                                          </div>
                                          <div class="col-sm-1 topmarginxs  ">
                                             <label>TPR Name <em>*</em></label>
                                          </div>
                                          <div class="col-sm-3 bottommarginsm">
                                             <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength" name="customerprefix" ng-model="customerAddModel.customerprefix" maxlength="20" fname="create_customer_form">
                                          </div>
										  <!--
                                          <div class="col-sm-1 topmarginxs  ">
                                             <label>QRF ID*</label>
                                          </div>
                                          <div class="col-sm-3 bottommarginsm">
                                             <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" name="customername" ng-model="customerAddModel.name" placeholder="Full Name" maxlength="35" required="" fname="create_customer_form">
                                          </div>
                                          -->
										  
										  
                                       </div>
                                       
                                    </div>
									
									<hr class="topmarginsm bottommarginsm hr-set">
									
									<div class="col-sm-10 topmarginsm ">
										<div class="row ">
											<!-- <div class="col-sm-2 ">
												<h2>MPH Details</h2>
											</div> -->
											<div class="col-sm-12 ">
												<div class="row ">
													<div class="col-sm-2 topmarginxs  ">
													 <label>Client Name</label>
												  </div>
												  <div class="col-sm-4 bottommarginsm">
													<input type="text" class="form-control " name="customerno" ng-model="customerAddModel.customerno" maxlength="20" validator="validationFactory.hasRequired(customerAddModel.customerno) == false ||validationFactory.isPositiveNumber(customerAddModel.customerno) === true" fname="create_customer_form">
													<span class="glyphicon glyphicon-search box-search "></span>
												  </div>
												  
												  
												  <div class="col-sm-2 topmarginxs  ">
													 <label>MPH ID</label>
												  </div>
												  <div class="col-sm-4 bottommarginsm">
													 <input type="text" readonly class="form-control " name="customerno" ng-model="customerAddModel.customerno" maxlength="20" validator="validationFactory.hasRequired(customerAddModel.customerno) == false ||validationFactory.isPositiveNumber(customerAddModel.customerno) === true" fname="create_customer_form">
												  </div>
												  
												</div>
											</div>
											<div class="col-sm-12 ">
												
												<div class="row ">
												
													  <div class="col-sm-1 topmarginxs  ">
														 <label>City</label>
													  </div>
													  <div class="col-sm-2 bottommarginsm">
														 <input type="text" readonly class="form-control " name="customerno" ng-model="customerAddModel.customerno" maxlength="20" validator="validationFactory.hasRequired(customerAddModel.customerno) == false ||validationFactory.isPositiveNumber(customerAddModel.customerno) === true" fname="create_customer_form">
													  </div>
													  <div class="col-sm-1 topmarginxs  ">
														 <label>Industry</label>
													  </div>
													  <div class="col-sm-2 bottommarginsm">
														 <input type="text" readonly class="form-control " name="customerno" ng-model="customerAddModel.customerno" maxlength="20" validator="validationFactory.hasRequired(customerAddModel.customerno) == false ||validationFactory.isPositiveNumber(customerAddModel.customerno) === true" fname="create_customer_form">
													  </div>
													  
													  <div class="col-sm-2 topmarginxs  ">
														 <label>Active Policy</label>
													  </div>
													  <div class="col-sm-4 bottommarginsm">
														 <input type="text" readonly class="form-control " name="customerno" ng-model="customerAddModel.customerno" maxlength="20" validator="validationFactory.hasRequired(customerAddModel.customerno) == false ||validationFactory.isPositiveNumber(customerAddModel.customerno) === true" fname="create_customer_form">
													  </div>
													
												</div>
											
											</div>
                                          
                                        </div>
									</div>
									<div class="col-sm-2 topmargin toppadding ">
										<a class="add_button add-dash topmargin" href="mph-add.html">
											New MPH
										</a>
									</div>
                                 </div>
                              </div>
							
							</form>
							
						<hr class="topmarginsm bottommarginsm hr-set">
                        </div>
						<div class="  clearfix add-form form-wrapper">
                           
							<div class="bg-white  ">
                                 <div class="row wrapper-md notoppadding ">
									<div class="col-sm-12 toppaddingsm  ">
										<ul class="tpr-ed-tab  clearfix  ">
											<li class="term active-tab">
												Term
											</li>
											<li class="rider">
												Riders
											</li>
											<li class="climexp">
												Claim Exp
											</li>
											<li class="currnt-ins">
												Current Insurance
											</li>
											<li class="enclos">
												Enclosures
											</li>
										</ul>
										
										<div class="term-tab tab-expnd ">
											<div class="tab-expnd-inner clearfix ">
												<form class="clearfix ">
												<div class="clearfix ">
													<h2>
														Term Details
													</h2>
													<div class="row ">
														<div class="col-sm-8 ">
															<div class="row ">
																<div class="col-sm-2 topmarginsm ">
																	<label>Term: <em>*</em></label>
																</div>
																<div class="col-sm-4">
																	<select name="cars"  class="form-control">
																	  <option value="volvo">New Business</option>
																	  <option value="saab">Renewal</option>
																	  <option value="opel">Revival</option>
																	  
																	</select>
																</div>
																<div class="col-sm-2 topmarginsm ">
																	<label>Group Type: <em>*</em></label>
																</div>
																<div class="col-sm-4">
																	<select name="cars"  class="form-control">
																	  <option value="volvo">Employer - Employee</option>
																	  <option value="saab">Non Employer - Employee</option>
																	  
																	</select>
																</div>
															</div>
														</div>
														<div class="col-sm-8 ">
															<h5 class="topmarginsm">Renewal Details</h5>
															
															<div class="row ">
															
																<div class="col-sm-2  toppaddingsm bottompaddingsm">
																	<label class="topmarginsm" >Policy No: </label>
																</div>
																<div class="col-sm-4 toppaddingsm bottompaddingsm">
																	<input type="text" class="form-control " >
																</div>
																<div class="col-sm-2  topmarginsm bottompaddingsm">
																	<label class="topmarginsm">Policy Date:</label>
																</div>
																<div class="col-sm-4 toppaddingsm bottompaddingsm	">
																	<input type="text" readonly class="form-control " >
																</div>
															
															</div>
															
														</div>
													</div>
													<hr class="topmarginsm bottommarginsm hr-set">
													<h2>
														Intermediary
													</h2>
													<div class="row ">
													
														<div class="col-sm-4 ">
															<div class="row ">
																<div class=" col-sm-4 ">
																	<label class="topmarginsm">Type:<em>*</em></label>
																</div>
																<div class=" col-sm-8 ">
																	<select name="cars"  class="form-control">
																	  <option value="volvo">Direct</option>
																	  <option value="saab">Corporate Agent</option>
																	  <option value="opel">Broker</option>
																	  <option value="audi">Individual Agent</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="col-sm-4 ">
															<div class="row ">
																<div class="col-sm-4  ">
																	<label class="topmarginsm">Code:<em>*</em></label>
																</div>
																<div class="col-sm-8 ">
																		<input type="text" class="form-control " >
																</div>
																<div class="col-sm-4 topmarginsm  ">
																	<label class="topmarginsm">Name:<em>*</em></label>
																</div>
																<div class="col-sm-8 topmarginsm ">
																		<input type="text" class="form-control " readonly >
																</div>
															</div>
														</div>
														<div class="col-sm-4 ">
															<div class="row ">
																<div class=" col-sm-4  ">
																	<label class="topmarginsm">Channel:<em>*</em></label>
																</div>
																<div class=" col-sm-8 ">
																	<select name="cars"  class="form-control">
																	  <option value="volvo">Bancassurance</option>
																	  <option value="saab">Corporate Solutions</option>
																	  <option value="opel">Institutional Alliance</option>
																	  <option value="audi">Micro Insurance</option>
																	</select>
																</div>
															</div>
														</div>
													
													</div>
													
													<hr class="topmarginsm bottommarginsm hr-set">
													<h2>
														Scheme
													</h2>
													
													<div class="row ">
														<div class="col-sm-12 ">
															<div class="row ">
																<div class="col-sm-4">
																	<div class="row ">
																		<div class="col-sm-4  ">
																			<label class="topmarginsm ">Type:<em>*</em></label>
																		</div>
																		<div class="col-sm-8 ">
																			<select name="cars"  class="form-control">
																			  <option value="volvo">Mandatory</option>
																			  <option value="saab">Voluntary</option>
																			</select>
																		</div>
																	</div>
																</div>
																
																<div class="col-sm-4">
																	<div class="row ">
																		<div class="col-sm-4  " >
																			<label class="">Participation Level:<em>*</em></label>
																		</div>
																		<div class="col-sm-8 ">
																			<input type="text" class="form-control" />
																		</div>
																	</div>
																</div>
																
																<div class="col-sm-4">
																	<div class="row ">
																		<div class="col-sm-4 ">
																			<label class="topmarginsm ">Premium By:<em>*</em></label>
																		</div>
																		<div class="col-sm-8 ">
																			<select name="cars"  class="form-control"  >
																			  <option value="volvo">Employer</option>
																			  <option value="saab">Employee</option>
																			  <option value="saab">Both</option>
																			</select>
																			
																		</div>
																	</div>
																</div>
																
															
																<div class="col-sm-12 toppadding bottommarginsm">
																	<h5>Retirement Age Categories</h5>
																</div>
																<div class="col-sm-4  ">
																	<div class="row ">
																		<div class="col-sm-5  toppaddingsm ">
																			<input type="radio" id="categ-1" name="categ" />
																			<label for="categ-1" class="">Category 1:<em>*</em></label>
																		</div>
																		<div class="col-sm-2 ">
																			<input type="text" class="form-control " />
																		</div>
																		<div class="col-sm-2 toppaddingsm">
																			Years
																		</div>
																		<div class="col-sm-2 toppaddingsm ">
																			
																		</div>
																	</div>
																	<div class="row toppaddingsm ">
																		<div class="col-sm-5  toppaddingsm ">
																			
																		<input type="radio" id="categ-2" name="categ" />
																
																		<label for="categ-2" class="">Category 2:<em>*</em></label>
																		</div>
																		<div class="col-sm-2 ">
																			<input type="text" class="form-control " />
																		</div>
																		<div class="col-sm-2 toppaddingsm">
																			Years
																		</div>
																		<div class="col-sm-2 toppaddingsm ">
																			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABPSURBVDhPYxgF9AHGxsYrQBjKpRwYGRldAmEol3IwzA2ERsAZZAw07BsIo4sDMeGIAilC00SZgdgAyLsgDOVSDkaggaDAJzsCRgGJgIEBAAWHPQlXxZK3AAAAAElFTkSuQmCC">
																		</div>
																	</div>
																</div>
															
															</div>
														</div>
														
														<div class="col-sm-12 ">&nbsp;</div>
														<div class="col-sm-12 ">
															
															<h5 class="toppadding bottommarginsm">Coverage</h5>
															
															<div class="row ">
																<div class="col-sm-4 ">
																	<div class="col-sm-4 ">
																		<label class="">Total no of members in the Group: </label>
																	</div>
																	<div class="col-sm-8 ">
																		<input type="text" class="form-control" />
																	</div>
																	
																</div>
																<div class="col-sm-4 ">
																	<div class="col-sm-4  ">
																		<label class="">No of Members to be covered: </label>
																	</div>
																	<div class="col-sm-8 ">
																		<input type="text" class="form-control" />
																	</div>
																</div>
															</div>
															
															
															
														</div>
														<div class="col-sm-12 ">&nbsp;</div>
														<div class="col-sm-5 ">
														
															<h5 class="toppadding bottommarginsm">Death Benefits</h5>
															
															<input id="death-fl" type="radio" name="deathben" class="" checked />
															<label for="death-fl">
																Flat
															</label><br/>
															<input id="death-gr" type="radio" name="deathben" class="" />
															<label for="death-gr">
																Graded
															</label><br/>
															<input id="death-fea-gra" type="radio" name="deathben" class="" />
															<label for="death-fea-gra">
																Feature Service gratuity cover
															</label>
															<br/>
															<input id="death-fea-leave" type="radio" name="deathben" class="" />
															<label for="death-fea-leave">
																Feature service leave encashment cover
															</label>
															<br/>
															<input id="death-ml-sal" type="radio" name="deathben" class="" />
															<label for="death-ml-sal">
																 of salary/CTC
															</label>
															<br/>
															
															<input id="death-out-sal" type="radio" name="deathben" class="" />
															<label for="death-out-sal">
																Outstanding salary/CTC
															</label>
															<br/>
															
															<input id="death-out-loan" type="radio" name="deathben" class="" />
															<label for="death-out-loan">
																Outstanding Loan amount
															</label>
															<br/>
															<input id="death-any" type="radio" name="deathben" class="" />
															<label for="death-any">
																Any Other
															</label>
															<br/>
														</div>
														<div style="width:3%; float: left; height: 300px;">
															
														</div>
														<div class="col-sm-6 ">
															<br/><br/>
															<label>
																Comments
															</label>
															<br/>
															<textarea class="form-control" ></textarea>
															
														</div>
														
														
													</div>
													<hr class="topmarginsm bottommarginsm hr-set">
													<h2>
														Miscellaneous
													</h2>
													
													<div class="row ">
													
														<div class="col-sm-4 ">
															<div class="row ">
																<div class="col-sm-4 ">
																	<label>Frequency of Premium payment</label>
																</div>
																<div class="col-sm-8 ">
																	<select name="cars"  class="form-control">
																	  <option value="volvo">Montlhy</option>
																	  <option value="saab">Quarterly</option>
																	  <option value="saab">Half Yearly</option>
																	  <option value="saab">Yearly</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="col-sm-4 ">
															<div class="row ">
																<div class="col-sm-4 ">
																	<label>Tentative data of commencement or Renewal*</label>
																</div>
																<div class="col-sm-8 ">
																	<input type="text" class="form-control" />
																</div>
															</div>
														</div>
														<div class="col-sm-4 ">
															<div class="row ">
																<div class="col-sm-4 ">
																	<label>Date of submission*</label>
																</div>
																<div class="col-sm-8 ">
																	<input type="text" class="form-control" />
																</div>
															</div>
														</div>
													
														
														
														
														
														
													</div>
													
													
													
													
													
													
												</div>
												</form>
											</div>
										</div>
										
										<div class="rider-tab tab-expnd	clearfix">
											
											<div class="col-sm-3 ">
												<div class="opti-wrap">
												<input id="option-1" type="checkbox" class="form-control" />
												<label for="option-1">
													Option 1
												</label>
												
												<div class="opt-det">
												
													<ul>
														<li>
														<input type="radio" name="opti-1-g" id="opti-1-g-1" />
														<label for="opti-1-g-1">
															<b>1. Accident and Sickness Total permanent disability</b>
															<br/> (100% base cover or Max 25L)
														</label>
															<br/> <br/> 
														</li>
														<li>
														<input type="radio" name="opti-1-g" id="opti-1-g-2" />
														<label for="opti-1-g-2">
															<b>2. Accident Total permanent disability</b>
															<br/> (100% base cover or Max 50L)
														</label>
														</li>
													</ul>
												
												</div>
												</div>
											</div>
											<div class="col-sm-3 ">
											<div class="opti-wrap">
												<input id="option-2" type="checkbox" class="form-control" />
												<label for="option-2">
													Option 2
												</label>
												
												<div class="opt-det">
												
													<ul>
														<li>
														<b>1. Accidental death</b>
															<br/> (100% base cover or Max 50L)
														</li>
													</ul>
												
												</div>
												</div>
											</div>
											<div class="col-sm-3 ">
											<div class="opti-wrap">
												<input id="option-3" type="checkbox" class="form-control" />
												<label for="option-3">
													Option 3
												</label>
												
												<div class="opt-det">
												
													<ul>
														<li>
														<b>1. Accidental partial permanent disability</b>
															<br/> (100% base cover or Max 50L)
														</li>
													</ul>
												
												</div>
												</div>
											</div>
											<div class="col-sm-3  ">
												<div class="opti-wrap">
												<input id="option-4" type="checkbox" class="form-control" />
												<label for="option-4">
													Option 4
												</label>
												
												<div class="opt-det">
												
													<ul>
														<li>
														
														<input type="radio" name="opti-4-g" id="opti-4-g-1" />
														<label for="opti-4-g-1">
															<b>1. Accelerated - Core critical illness</b>
														</label>	
															<br/> <br/> 
														</li>
														<li>
														<input type="radio" name="opti-4-g" id="opti-4-g-2" />
														<label for="opti-4-g-2">
														<b>2. Accelerated – Extended critical illness</b>
														</label>	<br/> <br/> 
														</li>
														<li>
														<input type="radio" name="opti-4-g" id="opti-4-g-3" />
														<label for="opti-4-g-3">
														<b>3. Accelerated – Additional Core critical illness</b>
														</label>	<br/> <br/> 
														</li>
														<li>
														<input type="radio" name="opti-4-g" id="opti-4-g-4" />
														<label for="opti-4-g-4">
														<b>4. Accelerated – Additional Extended critical illness</b>
														</label>
															<br/> 
															
														</li>
													</ul>
													</div>
												</div>
												
											</div>
											
											
										</div>
										
										<div class="claim-tab tab-expnd clearfix">
											
											<div class="col-sm-2  ">
												<label class="toppaddingsm">Updated By:<em>*</em></label>
											</div>
											<div class="col-sm-4 ">
												<select class="form-control">
													<option>Client</option>
													<option>Sales</option>
													<option>Bank Office</option>
												</select>
											</div>
											<div class="col-sm-2  ">
												<label class="toppaddingsm" >Extracted on:<em>*</em></label>
											</div>
											<div class="col-sm-4 ">
												<input type="text" class="form-control" />
											</div>
											
											<div class="col-sm-12 topmarginsm ">
												<table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
													  <thead>
														 <tr role="row">
															<th style="width:210px;" rowspan="1" colspan="1">
															   Scheme Year Start Date and Scheme Year End Date
															</th>
															<th style="width:180px;" rowspan="1" colspan="1">
															   Total Number of Deaths
															</th>                                                 
															<th style="width:220px;" class=" " rowspan="1" colspan="1">
															   Total Claim Amount (INR)
															</th>
															<th style="width:280px;" class=" " rowspan="1" colspan="1">
															   Total Number of Members at the beginning of scheme year
															</th>
															<th style="width:220px;" rowspan="1" colspan="1">
															   Total Cover Amount (INR)
															</th>
															<th style="width:200px;" rowspan="1" colspan="1">
															   Data obtained from
															</th>
														 </tr>
													  </thead>
													  <tbody>
													  <!--
														 <tr data-ng-show="invoiceModel.isLoadingProgress" class="ng-hide">
															<td colspan="8" class="text-left" style="padding: 0;">
															   <p class="loader-icon">
																  <img alt="loader" src="../img/loading.gif">
															   </p>
															</td>
														 </tr>-->
														 <!-- ngIf: invoiceModel.list.length == 0 -->
														 <!-- ngRepeat: invoice in invoiceModel.list -->
														 <tr data-ng-repeat="invoice in invoiceModel.list" class="ng-scope">
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	2009-10
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																16
															   </a>
															</td>

															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" class="  ng-binding" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" href="tpr-edit.html">
																	992,000
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" class="  ng-binding" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" href="tpr-edit.html">
																	12,268
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	11,000
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	Sales Intermediary
															   </a>
															</td>
															
														 </tr>
														 <tr data-ng-repeat="invoice in invoiceModel.list" class="ng-scope">
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	2011-12
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																16
															   </a>
															</td>

															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" class="  ng-binding" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" href="tpr-edit.html">
																	992,000
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" class="  ng-binding" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" href="tpr-edit.html">
																	12,268
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	11,000
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	Sales Intermediary
															   </a>
															</td>
															
														 </tr>
														 <tr data-ng-repeat="invoice in invoiceModel.list" class="ng-scope">
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	2012-13
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																16
															   </a>
															</td>

															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" class="  ng-binding" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" href="tpr-edit.html">
																	992,000
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" class="  ng-binding" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" href="tpr-edit.html">
																	12,268
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	11,000
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	Sales Intermediary
															   </a>
															</td>
															
														 </tr>
														 <tr data-ng-repeat="invoice in invoiceModel.list" class="ng-scope">
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	2013 - Till date
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																16
															   </a>
															</td>

															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" class="  ng-binding" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" href="tpr-edit.html">
																	992,000
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" class="  ng-binding" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" href="tpr-edit.html">
																	12,268
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	11,000
															   </a>
															</td>
															<td>
															   <a data-ui-sref="app.salesorderEdit({id: '9'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="ng-binding" href="tpr-edit.html">
																	Sales Intermediary
															   </a>
															</td>
															
														 </tr>
													 </tbody>
												 </table>
											</div>
											
											<div class="col-sm-12 topmarginsm " >
												<div class="row ">
													<div class="col-sm-2 ">
														<label class="topmarginsm ">Other Remarks:</label>
													</div>
													<div class="col-sm-6 ">
														<textarea class="form-control" ></textarea>
													</div>
												</div>
											</div>
											
										</div>
										
										<div class="curnt-ins-tab tab-expnd clearfix">
											<div class="col-sm-6 ">
												<div class="row ">
													<div class="col-sm-3 topmarginsm">
														<label>Existing insurer:</label>
													</div>
													<div class="col-sm-7 bottommarginsm ">
														<input type="text" class="form-control" />
													</div>
													<div class="col-sm-3 ">
														<label>Premium paid per Rs. 1000 SA (excluding taxes)</label>
													</div>
													<div class="col-sm-7 bottommarginsm  ">
														<input type="text" class="form-control" />
													</div>
													<div class="col-sm-12">&nbsp;</div>
													<div class="col-sm-3 ">
														<label>FCL in existing scheme:</label>
													</div>
													<div class="col-sm-7 bottommarginsm  ">
														<input type="text" class="form-control" />
													</div>
												</div>
											</div>
											
											<div class="col-sm-6 ">
												<div class="row ">
													<div class="col-sm-3 ">
														<label>Any other comments on existing cover</label>
													</div>
													<div class="col-sm-7 ">
														<textarea class="form-control"></textarea>
													</div>
												</div>
											</div>
											
										</div>
										
										<div class="enclo-tab tab-expnd	clearfix ">
											<div class="col-sm-3 ">
												<label class="topmarginsm">Census data:<em>*</em></label>
											</div>
											<div class="col-sm-8 ">
												<textarea class="form-control"></textarea>
											</div>
											<div class="col-sm-3 topmarginsm">
												<label class="topmarginsm">Census data given by client:<em>*</em></label>
											</div>
											<div class="col-sm-8  topmarginsm">
												<div class="row ">
													<div class="col-sm-2  topmarginsm ">
														<input id="census-data-y" type="radio" name="census" class="" checked />
														<label for="census-data-y">
															Yes
														</label>
														<input id="census-data-n" type="radio" name="census" class="" />
														<label for="census-data-n">
															No
														</label>
													</div>
													<div class="col-sm-4 ">
														<input type="file" class="form-control" />
													</div>
												</div>
											</div>
											
											<div class="col-sm-3 topmarginsm">
												<label class="topmarginsm">Tender document: </label>
											</div>
											<div class="col-sm-8  topmarginsm">
												<div class="row ">
													<div class="col-sm-2  topmarginsm ">
														<input id="tende-data-y" type="radio" name="tende" class="" checked />
														<label for="tende-data-y">
															Yes
														</label>
														<input id="tende-data-n" type="radio" name="tende" class="" />
														<label for="tende-data-n">
															No
														</label>
													</div>
													<div class="col-sm-4 ">
														<input type="file" class="form-control" />
													</div>
												</div>
											</div>
											
											<div class="col-sm-3 topmarginsm">
												<label class="topmarginsm">Broker slip: </label>
											</div>
											<div class="col-sm-8  topmarginsm">
												<div class="row ">
													<div class="col-sm-2 topmarginsm ">
														<input id="broker-data-y" type="radio" name="broker" class="" checked />
														<label for="broker-data-y">
															Yes
														</label>
														<input id="broker-data-n" type="radio" name="broker" class="" />
														<label for="broker-data-n">
															No
														</label>
													</div>
													<div class="col-sm-4 ">
														<input type="file" class="form-control" />
													</div>
												</div>
											</div>
											
											<div class="col-sm-3 topmarginsm">
												<label class="topmarginsm">Affinity form: </label>
											</div>
											<div class="col-sm-8  topmarginsm">
												<div class="row ">
													<div class="col-sm-2  topmarginsm ">
														<input id="affin-data-y" type="radio" name="affin" class="" checked />
														<label for="affin-data-y">
															Yes
														</label>
														<input id="affin-data-n" type="radio" name="affin" class="" />
														<label for="affin-data-n">
															No
														</label>
													</div>
													<div class="col-sm-4 ">
														<input type="file" class="form-control" />
													</div>
												</div>
											</div>
											
											<div class="col-sm-3 topmarginsm">
												<label class="topmarginsm">Current policy document (if renewal) </label>
											</div>
											<div class="col-sm-8  topmarginsm">
												<div class="row ">
													<div class="col-sm-2  topmarginsm ">
														<input id="currnt-data-y" type="radio" name="currnt" class="" checked />
														<label for="currnt-data-y">
															Yes
														</label>
														<input id="currnt-data-n" type="radio" name="currnt" class="" />
														<label for="currnt-data-n">
															No
														</label>
													</div>
													<div class="col-sm-4 ">
														<input type="file" class="form-control" />
													</div>
												</div>
											</div>
											
											
										</div>
										
									</div>
								 </div>
							</div>
							
						</div>
						
						
						
                              <div class="row wrapper-md ">
                                 <div class="form-group full_w btn_group">
                                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class="{&quot;btn-loader&quot;:isDataSavingProcess}" fname="create_customer_form">Submit</button>
                                    <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess" ng-click="formReset()">Reset</a>
                                 </div>
                              </div>
						
						
                     </div>
                  </div>
               </div>
               <!-- ngIf: showdeletePopup -->
               <!-- ngIf: showdeletePopup -->  
            </div>
         </div>
      </div>
      </div>
      <!-- JavaScripts -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script >
         jQuery.noConflict();
         
         jQuery(document).ready(function(){
         	jQuery('.menu-toggle').click(function(){
         		jQuery('body').toggleClass(' menu-open');
         	});
         	
			jQuery('.tpr-ed-tab li').click(function(){
         		jQuery('.tab-expnd').hide();
				
				jQuery('.tpr-ed-tab li').removeClass(' active-tab');
				
				jQuery('.wrapper-md').animate({ //animate element that has scroll
					scrollTop: 340 //for scrolling
				}, 1000);
				
         	});
			
			jQuery('.tpr-ed-tab li.term').click(function(){
         		jQuery('.term-tab').show();
				jQuery(this).addClass('active-tab');
         	});
			jQuery('.tpr-ed-tab li.rider').click(function(){
         		jQuery('.rider-tab').show();
				jQuery(this).addClass('active-tab');
         	});
			jQuery('.tpr-ed-tab li.climexp').click(function(){
         		jQuery('.claim-tab').show();
				jQuery(this).addClass('active-tab');
         	});
			jQuery('.tpr-ed-tab li.currnt-ins').click(function(){
         		jQuery('.curnt-ins-tab').show();
				jQuery(this).addClass('active-tab');
         	});
			jQuery('.tpr-ed-tab li.enclos').click(function(){
         		jQuery('.enclo-tab').show();
				jQuery(this).addClass('active-tab');
         	});
			
         
         });
         
      </script>
   </body>
</html>